.form-item {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 100%;

    label {
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--text-color);
    }

    input, textarea, select {
        padding: .625rem;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        font-size: 1rem;
        color: var(--text-color);
    }

    input:active, textarea:active, select:active,
    input:focus, textarea:focus, select:focus,
    input:focus-visible, textarea:focus-visible, select:focus-visible {
        outline: none;
        box-shadow: var(--box-shadow);
    }

    input:disabled, select:disabled,
    textarea:disabled {
        background-color: #a7a7a7;
        cursor: not-allowed;
    }

    input::placeholder,
    textarea::placeholder {
        color: #999;
    }

    select {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &[data-type="select"] {
        position: relative;
    }
    
    &[data-type="select"]:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 0;
        height: 0;
        margin-top: 3px;
        border: 6px solid;
        border-color: var(--primary-color) transparent transparent transparent;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &[data-type="checkbox"] {
        flex-direction: row;
    }

    &[data-type="checkbox"] input {
        height: 100%;
        aspect-ratio: .8;
    }

    &[data-type="checkbox"] label {
        font-size: var(--sm-font-size);
    }

    &[data-type="submit"] {
        align-items: center;
        justify-content: center;
    }

}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.form-item-container {
    display: flex;
    gap: 2rem;
}

@media (max-width: 53.125em) {
    .form-container {
        width: 100%;
    }
    .form-item-container {
        flex-direction: column;
    }
    .form-item[data-type="select"]:after {
        bottom: 3px;
    }
}