.heading__secondary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    position: relative;

    h2 {
        display: inline-block;
        padding: 0 2rem;
        background-color: var(--bg-color);
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        z-index: 1;
        width: fit-content;
    }
}
.heading__secondary::before, .heading__secondary::after {
    content: "";
    display: block;
    height: 2rem;
    width: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--secondary-color);
}
.heading__secondary::before {
    mask: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.52 29.46"><path d="m59.52,16.46v-2l-28-1s0,0,0,0l-.7-.35S28.48,3.75,25.83,0l-2.34,1.66c2.24,3.14,3.71,7.22,4.4,11.38-2.61-.06-5.1-.13-7.48-.21-1.29-2.99-3-5.98-4.83-9.11l-2.48,1.45h0c1.56,2.65,2.96,5.14,4.08,7.53-1.63-.07-3.2-.14-4.67-.22-1.13-1.85-2.64-3.52-4.06-4.83l-1.92,2.14c.78.67,1.57,1.53,2.29,2.45-3.57-.25-6.42-.56-8.3-.92l-.54,2.83c2.41.45,6.12.81,10.74,1.09.47.98.76,1.92.73,2.69-.02.84-.24,1.43-.89,2.04l1.94,2.13c1.26-1.13,1.84-2.68,1.82-4.17-.02-.85-.2-1.69-.45-2.51,1.45.07,2.95.14,4.54.2.82,2.23,1.31,4.38,1.31,6.47,0,.79-.07,1.59-.21,2.4l2.83.49c.17-.97.25-1.94.25-2.89,0-2.16-.43-4.27-1.1-6.37,2.16.07,4.42.13,6.76.19.07.85.11,1.7.11,2.53,0,3.7-.67,7.17-1.91,9.76l2.6,1.24c1.48-3.11,2.19-6.95,2.19-11,0-.81-.03-1.64-.09-2.46"/></svg>');
}
.heading__secondary::after {
    mask: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.78 29.54"><path d="m0,16.62c16.9-.57,24.97-.74,41.05-2.12,0,.63.03,1.25.03,1.88,0,3.75-.19,7.49-.47,11.1l-.17,2.06,1.73-1.14c6.28-4.18,13.54-9.89,17.13-16.41l.48-.88-.88-.48c-6.92-3.8-10.36-6.23-17.6-9.74l-1.81-.88.38,1.97c.64,3.36.99,6.91,1.13,10.5-16.15,1.39-24.01,1.57-41,2.14m42.77,10.93c.2-3,.32-6.08.32-9.17,0-4.32-.25-8.66-.9-12.81,5.67,2.86,9,5.08,14.83,8.32-3.1,5.1-8.85,9.92-14.26,13.66Z"/></svg>');
}
.heading__secondary--helper {
    flex: auto;
    background: linear-gradient(
        to bottom,
        transparent 0px,
        transparent calc(50%),
        var(--secondary-color) calc(50%),
        var(--secondary-color) calc(50% + 2px),
        transparent calc(50% + 2px),
        transparent 100%
    );
}

@media screen and (max-width: 53.125em) {

    .heading__secondary {
        margin-bottom: 2rem;
        h2 {
            padding: 0 1rem;
            line-height: 1.4;
            width: max-content;
        }
    }
}