/* EQUIP */
.equip__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
}

@media (max-width: 53.125em) {
    .equip__grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* PROJECTS */

.project__flex {
    display: flex;
    gap: 2rem;
}

.project__flex > div {
    flex: 1;
}

.project__grid {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (max-width: 53.125em) {
    .project__flex {
        flex-direction: column;
    }
    .project__flex > div {
        flex: unset;
    }
    /* .project__grid {
        grid-template-columns: 1fr;
    } */
}

/* PROJECTES DETALL */
.pilars__grid, .random__grid {
    display: flex;
    gap: 2rem;
}

.pilars__grid > div, .random__grid > div {
    flex: 1;
}

@media (max-width: 53.125em) {
    .pilars__grid, .random__grid {
        flex-direction: column;
    }
}

/* COL·LABORA */
.colabora-donacio {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    margin-bottom: 4rem;
    text-align: center;
}
.colabora__flex {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}
@media (max-width: 53.125em) {
    .colabora__flex {
        flex-direction: column;
        gap: 4rem;
    }
}

/* CONTACTE */
.info-text {
    margin-bottom: 3rem;
}

/* PUBLICACIONS */
.publicacio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.publicacions-iframe {

    h2 {
        margin-bottom: 2rem;
    }

    iframe {
        width: 100%;
        height: 800px;
    }
}

@media (max-width: 53.125em) {
    .publicacio-grid {
        grid-template-columns: 1fr;
    }
}