/* EQUIP */
.equip__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
}

@media (max-width: 53.125em) {
    .equip__grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* PROJECTS */

.project__flex {
    display: flex;
    gap: 2rem;
}

.project__flex > div {
    flex: 1;
}

.project__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (max-width: 53.125em) {
    .project__flex {
        flex-direction: column;
    }
    .project__flex > div {
        flex: unset;
    }
}

/* PROJECTES DETALL */
.pilars__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.random__grid {
    display: flex;
    gap: 2rem;
}

.random__grid > div {
    flex: 1;
}

.project-detall__features {
    --feature-gap: 1rem;
    --feature-svg-w: 5rem;
    --feature-svg-h: 5rem;
    --feature-svg-padding: 1rem;
    --feature-text-fs: var(--font-size);

    h3 {
        margin-bottom: 2rem;
    }
}

@media (max-width: 53.125em) {
    .pilars__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .random__grid {
        flex-direction: column;
    }
}

/* COL·LABORA */
.colabora-donacio {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    margin-bottom: 4rem;
    text-align: center;
}
.colabora__container {
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;
}
.colabora__img {
    flex: 1;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.colabora__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
@media (max-width: 53.125em) {
    .colabora__container {
        flex-direction: column;
    }
}

/* CONTACTE */
.info-text {
    margin-bottom: 3rem;
}

/* PUBLICACIONS */
.publicacio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.publicacions-iframe {

    h2 {
        margin-bottom: 2rem;
    }

    iframe {
        width: 100%;
        height: 800px;
    }
}

@media (max-width: 53.125em) {
    .publicacio-grid {
        grid-template-columns: 1fr;
    }
}