#mapa {
    height: calc(100vh - 4rem);
    width: 100%;
    position: sticky !important;
    top: 2rem;
    border-radius: var(--border-radius);
}

.map-tag {
    background-color: var(--primary-color-light);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.map-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--primary-color-light);
}

.map-tag:hover {
    background-color: var(--primary-color);
    scale: 1.1;
    z-index: 999;
}
.map-tag:hover::after {
    border-top-color: var(--primary-color);
}

@media (max-width: 53.125em) {
    #mapa {
        height: 300px;
        position: relative !important;
        top: 0;
    }
}