@font-face {
    font-family: 'Auxilia';
    src: url('../base/fonts/Auxilia.woff2') format('woff2'),
         url('../base/fonts/Auxilia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Auxilia Bold';
    src: url('../base/fonts/Auxilia-Bold.woff2') format('woff2'),
         url('../base/fonts/Auxilia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

b {
    font-family: var(--font-family-bold);
}

.text p:not(:last-child) {
    margin-bottom: 1.5rem;
}

h1 {
    font-family: var(--font-family-bold);
    font-size: var(--xxl-font-size);
    line-height: 1.2;
    color: var(--primary-color)
}

h2 {
    font-size: var(--l-font-size);
    font-family: var(--font-family-bold);
    line-height: 1.2;
}

h3, .subheader {
    font-size: 1.375rem;
    font-family: var(--font-family-bold);
    line-height: 1.2;
}

@media screen and (max-width: 53.125em) {
    h1 {
        font-size: var(--xl-font-size);
    }

    h2 {
        font-size: 1.5rem;
    }

    h3, .subheader {
        font-size: var(--font-size);
    }
}