body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 1.25rem; 
}

section {
    padding: 5rem 0;

    h2 {
        margin-bottom: 4rem;
    }
}

@media (max-width: 53.125em) {
    section {
        padding: 3rem 0;

        h2 {
            margin-bottom: 2rem;
        }
    }
}