:root {
    --primary-color: #7F272C;
    --primary-color-light: #7F272CCC;
    --secondary-color: #FFBD59;
    --secondary-color-light: #FFBC57e6;
    --title-color: #2D1C0E;
    --text-color: rgb(45, 28, 14, 0.75);
    --bg-color: #FCFBF3;
    --bg-color-light: #FBFBFB;
    --color-white: #FFF;
    --color-black: #000;

    --border-radius: 28px;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

    --xxl-font-size: 4.5rem; /* 72px */ 
    --xl-font-size: 3rem; /* 48px */
    --l-font-size: 2rem; /* 32px */
    --font-size: 1rem; /* 16px */
    --sm-font-size: 0.875rem; /* 14px */
    --xs-font-size: 0.75rem; /* 12px */

    --font-family: 'Auxilia', sans-serif;
    --font-family-bold: 'Auxilia Bold', sans-serif;

    --container-width: 1200px;
}

/* UTILITIES */
.u-text-align-center { text-align: center; }
.u-justify-center { justify-content: center; }
.u-margin-bottom-1 { margin-bottom: 1rem; }