.cta {
    padding: 5px 15px;
    border-radius: 999px;
    cursor: pointer;
    transition: all .3s ease;
}
.cta:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(2px);
}

.cta--c1 {
    background-color: var(--primary-color);
    color: var(--color-white);
}
.cta--c1:hover {
    background-color: var(--primary-color-light);
}


.cta--c2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.cta--c2:hover {
    background-color: var(--secondary-color-light);
    
}


.cta--cw {
    background-color: var(--color-white);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    font-family: var(--font-family-bold);
}


.cta--t {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    font-family: var(--font-family-bold);
}
.cta--t:hover {
    background-color: var(--color-white);
}