.publicacio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.publicacio-title {
    font-family: var(--font-family-bold);
}

.publicacio-cta {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}