header {
    padding: 0 2.5rem;
    background-color: var(--bg-color-light);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 3rem; 
}

.header__content {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.header__logo img {
    height: 2rem;
    object-fit: contain;
}

nav.menu {
    z-index: 999;
    color: var(--title-color);

    > ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
    }

    > ul > li > a:not([class]) {
        border-bottom: 2px solid transparent;
        transition: all .3s ease;
    }

    > ul > li:hover > a:not([class]) {
        border-bottom: 2px solid var(--primary-color-light);
        color: var(--primary-color-light);
    }
}

.languages {
    height: auto;
    display: flex;
    
    svg {
        width: 24px;
        height: 24px;
        stroke: var(--primary-color);
    }
}

.languages__list {
    display: none;
    flex-direction: column;
    gap: .625rem;
    background-color: var(--bg-color-light);
    padding: .625rem;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    z-index: 999;

    > a:hover {
        text-decoration: underline;
    }
}

.languages:hover .languages__list {
    display: flex;
}


.nav-toggle,
.nav-toggle__checkbox {
    display: none;
}
.nav-toggle__button {
    display: flex;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    align-items: center;
}
.nav-toggle__icon {
    position: relative;
}
.nav-toggle__icon,
.nav-toggle__icon::after,
.nav-toggle__icon::before {
    width: 1.65rem;
    height: 3px;
    background-color: var(--primary-color);
    display: inline-block;
}
.nav-toggle__icon::after,
.nav-toggle__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: 0.2s;
}
.nav-toggle__icon::before {
    top: -0.5rem;
}
.nav-toggle__icon::after {
    top: 0.5rem;
}
.nav-toggle__checkbox:checked + .nav-toggle__button .nav-toggle__icon {
    background-color: transparent;
}
.nav-toggle__checkbox:checked + .nav-toggle__button .nav-toggle__icon::before {
    top: 0;
    transform: rotate(135deg);
}
.nav-toggle__checkbox:checked + .nav-toggle__button .nav-toggle__icon::after {
    top: 0;
    transform: rotate(-135deg);
}



@media (max-width: 53.125em) {
    header {
        padding: 0 1.25rem;
    }

    .header__content {
        flex-direction: column;
    }

    .header__logo {
        display: flex;
        gap:1rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        img {
            height: 1.75rem;
        }
    }

    nav.menu {
        background-color: var(--bg-color-light);
        position: absolute;
        top: calc(100% - 1px);
        width: 100%;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);

        ul {
            flex-direction: column;
            padding: 1.25rem 0;
        }
    }

    .languages {
        gap: 1rem;
        align-items: center;
    }

    .languages__list {
        display: flex;
        flex-direction: row;
        background-color: inherit;
        padding: 0;
        position: relative;
        border: none;
        border-radius: 0;
    }


    .nav-toggle {
        display: flex;
    }
    
    .toggleVisible {
        display: block;
        max-height: 62.5rem;
        overflow-y: hidden;
        transition: max-height 1s ease-out;
    }
    .toggleHidden {
        max-height: 0;
        overflow-y: hidden;
        padding: 0;
    }

}
