.project-detall__section {
    position: relative;
}

.project-detall__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: 28rem;
}

.project-detall__text {
    grid-column: 1 / 5;
    background-color: var(--bg-color);
    padding-right: 5rem;
}

.project-detall__helper {
    grid-column: 5 / 6;
}

.project-detall__helper:before,
.project-detall__helper:after {
    content: "";
    position: absolute;
    width: var(--border-radius);
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 100% 100%, transparent var(--border-radius), var(--bg-color, white) calc(var(--border-radius) + 1px));
}

.project-detall__helper:after {
    rotate: -90deg;
    bottom: 5rem;
}

.project-detall__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 5rem;
    left: 0;
    z-index: -1;
}

.project-detall__image img {
    width: 50%;
    height: calc(100% - 10rem);
    display: block;
    object-fit: cover;
    float: right;
}

@media screen and (max-width: 53.125em) {

    .project-detall__content {
        grid-template-columns: 1fr;
    }

    .project-detall__text {
        padding-right: 0;
    }

    .project-detall__image {
        display: none;
    }
}